.container {
  position: relative;
  width: 100%;
  height: 100vh; /* На весь экран */
  overflow: hidden;
  background-color: #1a1a2e; /* Цвет фона, если канвас еще не загрузился */

  /* Важно: отключаем стандартные действия браузера внутри игры */
  touch-action: none;
  user-select: none;
}
